{% extends 'base.html' %}
    {% block content %}

    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Register an Account</div>
      <div class="card-body">
              <form method="post">
            {%	csrf_token	%}

             <div class="form-group">
                <div class="row">
                    {% for field in user_form %}

                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }} {{ field.errors }}
                            </div>
                          </div>

                    {% endfor %}
                </div>
            </div>

          <input type='submit' class="btn btn-primary btn-block" value='Register'>
        </form>
      </div>
    </div>

    {% endblock content %}



