{% extends 'base.html' %}
{% load extras %}
    {% block content %}

        <div class="card card-register mx-auto mt-5">
          <div class="card-header">Create group</div>
          <div class="card-body">
            <form method="post">
                {%	csrf_token	%}

                 <div class="form-group">
                    {% for field in group_form %}

                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                {{ field }} {{ field.errors }}
                            </div>
                          </div>

                    {% endfor %}
                </div>

              <input type='submit' class="btn btn-primary btn-block" value='Add new group'>
            </form>
          </div>
        </div>

    {% endblock content %}