{% extends 'base.html' %}
{% load static %}
{% load extras %}
    {% block content %}

        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th>Group name</th>
                <th>Users</th>
              </tr>
            </thead>

                <tbody >

                {% for group in groups %}

                  <tr id="{{ group.id }}" class="current-group">
                    <td><a href='/add_group/{{ group.id }}'>{{ group.name }}</a></td>
                    <td><a href='/add_group/{{ group.id }}'>{{ group.name|user_in_group }}</a></td>
                    <td>
                        <button id="{{ group.id }}" type="button" class="close remove-group" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                  </tr>

                {% endfor %}

                </tbody>

          </table>

          <p class="lead">
            <a href="/add_group" class="btn btn-secondary">Add group</a>
          </p>
        </div>

    {% endblock content %}