{% extends 'base.html' %}
{% load static %}
{% load extras %}
    {% block content %}

          <!-- Icon Cards-->
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <a class="card-body text-white clearfix z-1" href="/">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5">{{ users.count }}</div><span>Users</span>
                </a>
                <a class="card-footer text-white clearfix small z-1" href="/add_user">
                  <span class="float-left">Add new user</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-warning o-hidden h-100">
                <a class="card-body text-white clearfix z-1" href="/groups_list">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-list"></i>
                  </div>
                  <div class="mr-5 quantity-groups">{{ groups.count }}</div><span>Groups</span>
                </a>
                <a class="card-footer text-white clearfix small z-1" href="/add_group">
                  <span class="float-left">Add new group</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table"></i> Groups list</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Group name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for group in groups %}

                    <tr id="{{ group.id }}" class="current-group">
                      <td>{{ group.name }}</td>
                      <td>
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#{{ group }}" aria-expanded="true" aria-controls="collapseOne">
                              Users
                            </button>
                          </h5>
                        </div>
                        <div id="{{ group }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                           {{ group.name|user_in_group }}
                          </div>
                        </div>
                      </td>
                      <td>
                          <button type="button" id="{{ group.id }}" class="close remove-group" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </td>
                      <td>
                          <form action="/add_group/{{ group.id }}">
                            <button type="submit" class="btn-info">Edit</button>
                          </form>
                      </td>
                    </tr>

                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">We have {{ users.count }} users and {{ groups.count }} groups</div>
          </div>
        </div>

    {% endblock content %}