{% extends 'base.html' %}
{% load static %}
    {% block content %}

          <main role="main" class="inner cover">
            <p class="lead">An application for managing users and user groups.</p>
              <ul>
                <li>displaying the list of users</li>
                <li>displaying the list of groups</li>
                <li>adding new users</li>
                <li>adding new groups</li>
                <li>adding user/users to group</li>
                <li>editing users and changing data</li>
                <li>removing existing users</li>
              </ul>
          </main>

    {% endblock content %}