{% extends 'base.html' %}
{% load static %}
    {% block content %}

          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table"></i> Urls list</div>
            <div class="card-body">
              <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>url</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr id="{{ url.id }}" class="current-group">
                        <td>{{ url.result }}</td>
                    </tr>
                  </tbody>

                </table>

              </div>
            </div>
            <div class="card-footer small text-muted">We have {{ urls.count }} urls</div>
          </div>
        </div>

    {% endblock content %}