{% extends 'base.html' %}
{% load static %}
    {% block content %}

          <!-- Icon Cards-->
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-primary o-hidden h-100">
                <a class="card-body text-white clearfix z-1" href="/">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-comments"></i>
                  </div>
                  <div class="mr-5">{{ users.count }} Users</div>
                </a>
                <a class="card-footer text-white clearfix small z-1" href="/add_user">
                  <span class="float-left">Add new user</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
              <div class="card text-white bg-warning o-hidden h-100">
                <a class="card-body text-white clearfix z-1" href="/groups_list">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-list"></i>
                  </div>
                  <div class="mr-5">{{ groups.count }} Groups</div>
                </a>
                <a class="card-footer text-white clearfix small z-1" href="/add_group">
                  <span class="float-left">Add new group</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <!-- Example DataTables Card-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-table"></i> Users list</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Username</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>E-mail</th>
                        <th>Birth date</th>
                        <th>Date joined</th>
                        <th></th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for user in users %}

                    <tr id="{{ user.id }}" class="current-user">
                      <td>{{ user.username }}</td>
                      <td>{{ user.first_name }}</td>
                      <td>{{ user.last_name }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.profile.birth_date }}</td>
                      <td>{{ user.date_joined }}</td>
                      <td>
                          <button type="button" id="{{ user.id }}" class="close remove-user" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                      </td>
                      <td>
                          <form action="/add_user/{{ user.id }}">
                            <button type="submit" class="btn-info">Edit</button>
                          </form>
                      </td>
                    </tr>

                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">We have {{ users.count }} users and {{ groups.count }} groups</div>
          </div>
        </div>

    {% endblock content %}