{% extends 'base.html' %}
{% load static %}
    {% block content %}

        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
              </tr>
            </thead>

                <tbody >

                {% for user in users %}

                  <tr id="{{ user.id }}" class="current-user">
                    <td><a href='/add_user/{{ user.id }}'>{{ user.username }}</a></td>
                    <td><a href='/add_user/{{ user.id }}'>{{ user.first_name }}</a></td>
                    <td><a href='/add_user/{{ user.id }}'>{{ user.last_name }}</a></td>
                    <td>
                        <button id="{{ user.id }}" type="button" class="close remove-user" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                  </tr>

                {% endfor %}

                </tbody>

          </table>
        </div>

    {% endblock content %}