{% extends 'base.html' %}
    {% block content %}

        <div class="card card-register mx-auto mt-5">

              <div class="card-header">Shorten your url</div>
              <div class="card-body">
                  <form method="post">
                    {%	csrf_token	%}

                         <div class="form-group">
                            {% for field in url_form %}

                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>{{ field.label }}:</label>
                                        {{ field }} {{ field.errors }}
                                    </div>
                                  </div>

                            {% endfor %}
                        </div>

                    <input type='submit' class="btn btn-primary btn-block" value='Accept'>
                </form>
              </div>

        </div>
    {% endblock content %}